body {
      padding-top: 80px; /* Dodatkowy odstęp na górze, równy wysokości paska nawigacyjnego */
      padding-bottom: 200px;
}

/* Styl dla komunikatów pozytywnych */
.flash-positive {
    color: white;
    background-color: green;
}

/* Styl dla komunikatów błędów */
.flash-error {
    color: white;
    background-color: red;
}